<article class="exchange">
    <app-input 
        direction="from" 
        inputValue="{{startAmount}}" 
        selectValue="{{startCurrency}}" 
        (sentCurrencyInput)="convertCurrencies($event)">
    </app-input>
    <mat-icon class="exchange-icon" (click)="reverseCurrencies()">swap_horiz</mat-icon>
    <app-input 
        direction="to" 
        inputValue="{{exchangeAmount}}" 
        selectValue="{{exchangeCurrency}}" 
        (sentCurrencyInput)="convertCurrencies($event)">
    </app-input>
</article>
