.header {
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 20%;
    align-items: center;
    background-color: #fff;
    &-image {
        display: block;
        max-width: 30%;
        max-height: 150px;
    }
    &-currencies {
        width: 10%;
    }
}

.currency {
    display: flex;
    justify-content: space-between;
    padding: 7px;
    &-name {
        font: {
            weight: 600;
            size: 18px
        }
        padding: 0 5px;
    }
    &-value {
        font-size: 18px;
    }
}
@media(max-width: 512px)
{
    .currency {
        &-name {
            font-size: 12px;
            padding: 0 2px;
        }
        &-value {
            font-size: 12px;
        }
    }
}