<article class="input" (change)="sendRequestData(currencies.value, amount.value)">
    <section class="field">
        <input [ngClass]="!checkError ? 'field-value' : 'error-value'" type="text" value="{{inputValue}}" #amount>
        <p [ngClass]="checkError ? 'visible' : 'invisible'">Input isn't correct</p>
    </section>
    <section class="selector">
        <label class="selector-label" for="">{{direction}}</label>
        <select class="selector-value" name="currency-chooser" #currencies>
            <option class="selector-option" *ngFor="let option of options" [selected]="option === selectValue" value="{{option}}">{{option}}</option>
        </select>
    </section>
</article>
